.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  background-color: gray;
  color: antiquewhite;
  padding: 10px;
}
label{
  padding: 10px;
}
select{
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}